# Exposes the model-service internally within the sms-app namespace
apiVersion: v1
kind: Service
metadata:
  name: model-service
  namespace: sms-app
spec:
  selector:
    app: model-service
  ports:
    - port: 8081
      targetPort: 8081