# IP range for LoadBalancer Services handed out by MetalLB
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: {{  metallb_namespace }}
spec:
  addresses:
    - {{ metallb_pool_start }}-{{ metallb_pool_end }}

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-advertisement
  namespace: {{ metallb_namespace }}
spec: {}
