{{- if .Values.httpRoute.enabled -}}
{{- $svcName := printf "%s-app" (include "chart.fullname" .) -}}
{{- $svcPort := .Values.app.service.port -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $svcName }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: app
  {{- with .Values.httpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  parentRefs:
    {{- with .Values.httpRoute.parentRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    {{- range .Values.httpRoute.rules }}
    {{- with .matches }}
    - matches:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .filters }}
      filters:
      {{- toYaml . | nindent 8 }}
    {{- end }}
      backendRefs:
        - name: {{ $svcName }}
          port: {{ $svcPort }}
          weight: 1
    {{- end }}
{{- end }}
