{{- if .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .Release.Name }}-app-alerts
  namespace: {{ .Values.namespace.name }}
  labels:
    release: {{ .Release.Name }}
    app.kubernetes.io/part-of: {{ .Release.Name }}
spec:
  groups:
    - name: sms-app.rules
      rules:
        - alert: HighRequestRate
          expr: sum(rate(http_server_requests_seconds_count{namespace="{{ .Values.namespace.name }}"}[1m])) * 60 > 15
          for: 2m
          labels:
            severity: critical
            namespace: {{ .Values.namespace.name }}
          annotations:
            summary: High request rate detected
            description: Request rate exceeded 15/min for 2+ minutes
{{- end }}