{{- if and .Values.monitoring.enabled .Values.kube-prometheus-stack.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .Release.Name }}-traffic-alerts
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ .Release.Name }}
spec:
  groups:
    - name: traffic.rules
      rules:
        - alert: HighRequestRate
          expr: |
            sum(rate(http_server_requests_seconds_count{namespace="{{ .Release.Namespace }}"}[1m])) > 15
          for: 2m
          labels:
            severity: warning
          annotations:
            summary: "High request rate on {{`{{ $labels.namespace }}`}}"
            description: "Requests per minute exceeded 15 for 2m."
{{- end }}
