---
# Worker node specific setup
- name: Worker node setup
  hosts: nodes
  become: yes
  tasks:
    # Step 18: Generate Join Command
    - name: Generate kubeadm join command on controller
      command: kubeadm token create --print-join-command
      delegate_to: ctrl
      register: kubeadm_join_cmd
      run_once: true

    # Step 19: Join worker node to the cluster
    - name: Join worker node to Kubernetes cluster
      shell: "{{ kubeadm_join_cmd.stdout }}"
      args:
        creates: /etc/kubernetes/kubelet.conf